mongodb/mongodb-*.tgz
target/
target/*
*.ipr
*.iml
*.iml.bak
*.iws
.idea/
logs/
node_modules/
node_modules/*
.DS_Store
.DS_Store
version.conf
RUNNING_PID
*.swp
.idea_modules/
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.target
*.class
.cache
